.alok{
    transition: background-color 0.3s ease; /* Smooth transition effect */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center-align text */
}

.alok:hover{
    background-color: #2ecc71; 
}